*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --hamburger-margin: 8px;
    --foreground: #EDF2F4;
    --foreground2: #232931;
    --background: #153243;
    --background2: #284B63;
    --border-color: #B4B8AB;
    --border-radius: 100px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

html {
    vertical-align: baseline;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: auto;
    background-color: var(--background);
}

body {
    height: auto;
    margin: 0;
    min-width: 340px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-family: 'Poppins',
        sans-serif;
    color: var(--foreground);
    overflow-wrap: normal;
}

div {
    height: auto;
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    height: inherit;
}

img {
    border-style: groove;
    border-radius: 20px;
    border-color: var(--border-color);
}

img:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: var(--foreground);
}

.btn {
    cursor: pointer;
    display: flex;
    width: 80px;
    height: 25px;
    font-weight: bold;
    font-size: 10px;
    white-space: nowrap;
    border-style: groove;
    border-radius: 100px;
    padding: 0px 10px;
    background: var(--background);
    border-color: var(--border-color);
    color: var(--foreground);
    align-items: center;
    justify-content: center;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: var(--background2);
    transform: scale(1.05);
}

@media (min-width: 900px) {
    .btn {
        width: auto;
        height: 50px;
        font-weight: bold;
        font-size: 18px;
        white-space: nowrap;
        border-style: groove;
        border-radius: 100px;
        padding: 0px 24px;
        background: var(--background);
        border-color: var(--border-color);
        color: var(--foreground);
        filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
}

header {
    width: 100%;
    min-width: 360px;
    background-color: var(--background2);
    height: 120px;
    padding: 0 5px;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.navigation {
    display: flex;
    align-items: center;
    height: inherit;
    width: 100%;
    justify-content: space-evenly;
}

.navigation img {
    width: 140px;
}

nav {
    display: none;
}

.header-buttons {
    width: auto;
    display: grid;
    height: inherit;
    align-content: center;
}

@media(min-width: 600px) {
    header {
        position: sticky;
        z-index: 2;
        top: 5px;
        margin: 0 5px;
        border-radius: 20px;
        height: 170px;
    }

    .navigation img {
        width: 160px;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        width: -webkit-fill-available;
    }

    nav a {
        width: max-content;
        font-size: 17px;
        margin: 5px 0;
        filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
    }

    nav a:hover {
        transform: scale(1.05);
    }

    .header-buttons {
        display: flex;
        padding: 0;
        width: max-content;
        align-items: center;
        justify-content: center;
    }

    .navigation button {
        height: 40px;
        font-weight: bold;
        font-size: 16px;
        white-space: nowrap;
        border-style: groove;
        border-radius: 100px;
    }
}

@media (min-width: 1000px) {

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    nav a {
        width: auto;
        margin: 0;
    }

    .navigation button {
        font-weight: bold;
        font-size: 16px;
        padding: 0px 24px;
    }
}

.header-buttons button {
    margin: 5px;
    width: auto;
}

.profile {
    display: flex;
    height: auto;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
}


section {
    margin-top: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

.home {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.subhome {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
}

h1.title {
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: var(--foreground);
}

h2.title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: var(--foreground);
}

.title {
    text-align: center;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: var(--foreground);
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.home img {
    width: 70%;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));
}

p {
    margin: 0;
}

.text {
    margin: 10px 0;
    padding: 15px;
    color: var(--foreground);
    border-color: var(--border-color);
}

.description {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-content: space-around;
    align-items: center;
}

.descr {
    text-wrap: pretty;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 31px;
}

.description p {
    margin: 0;
    font-size: 10px;
    text-decoration: none;
}

.description button {
    margin: 10px 0;
}

p.title {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 10px;
}

.example {
    display: inline-grid;
    justify-items: center;
    width: 40%;
    padding: 15px;
    border-radius: 40px;
    height: 350px;
    border-style: groove;
    border-color: var(--border-color);
    color: var(--foreground);
    filter: drop-shadow(5px 10px 7px rgba(0, 0, 0, 0.5));
}

.example img {
    border-color: var(--border-color);
    border-radius: 100px;
    width: 100%;
    filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.5));
}

.example button {
    margin: 5px 0;
}

p.name {
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
}

p.specs {
    text-align: center;
}

@media (min-width:900px) {
    h1.title {
        font-size: 50px;
    }

    h2.title {
        font-size: 30px;
    }

    .title {
        font-size: 50px;
    }

    p.title {
        font-size: 40px;
    }

    .example {
        /* width: auto; */
        height: 650px;
    }

    .descr {
        font-size: 20px;
    }

    .description p {
        font-size: 20px;
    }

    .example button {}

    .example img {
        width: 100%;
    }

    p.name {
        margin: 10px 0;
        font-size: 30px;
    }

    p.specs {
        font-size: 21px;
    }
}

.images {
    padding: 0 5px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    filter: drop-shadow(0 40px 40px rgba(0, 0, 0, 0.25));
}

.images img {
    width: 48%;
}

footer {
    padding: 5px;
    background-color: var(--background2);
    border-color: var(--border-color);
    border-style: groove;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.information {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--foreground);
}

.information p {
    text-align: center;
    margin: 0 5px;
    font-size: 10px;
}

time {
    font-weight: bold;
}

.socials {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social_btn {
    width: 50px;
    border-radius: 100px;
    padding: 0px 12px;
    font-size: 12px;
    background-color: var(--background);
    border-color: var(--border-color);
    white-space: nowrap;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.information button a {
    color: var(--foreground);
    text-decoration: none;
}

@media (min-width: 900px) {
    .information {
        justify-content: space-evenly;
    }

    .information p {
        font-size: 20px;
    }

    .social_btn {
        width: 80px;
        height: 30px;
        font-size: 18px;
    }
}

.authDiv {
    margin: 20px;
    min-width: 340px;
    display: grid;
    justify-content: space-evenly;
    align-items: end;
    justify-items: center;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0.25));
}

.authDiv img {
    width: 30%;
}

.authForm {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

.authForm img {
    border-color: var(--border-color);
    border-radius: 100px;
    width: 40%;
    margin: 10px 0;
    filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.5));
}

.authForm input {
    margin: 5px;
    width: 100%;
    padding: 10px;
    border-style: groove;
    border-width: 5px;
    border-color: var(--border-color);
}

.authForm input:focus-within {
    border-color: #58df78;
}


.login {
    display: grid;
    margin: 10px 0;
    justify-items: center;
}

.link {
    margin: 15px 0;
    text-decoration: none;
    color: var(--foreground);
}

.link:hover {
    transform: scale(1.05);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.userInfo {
    margin: 10px 0;
    display: grid;
    height: auto;
    border-radius: 40px;
    border-style: groove;
    border-color: var(--border-color);
    color: var(--foreground);
    justify-content: center;
    justify-items: center;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.userInfo p {
    font-size: 35px;
}

.otherInfo {
    margin: 10px 0;
    gap: 10px;
    height: auto;
    padding: 10px;
    display: flex;
    color: var(--foreground);
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.cars {
    display: grid;
    justify-items: center;
    gap: 10px
}

.manage {
    margin: 10px 0;
    height: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.manage div{
    width: auto;
}

.manage button {
    margin: 10px 10px;
}

.manageBtn {
    cursor: pointer;
    height: 50px;
    min-width: 250px;
    width: auto;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    white-space: nowrap;
    border-style: groove;
    border-radius: 100px;
    padding: 0px 24px;
    background: var(--background);
    border-color: var(--border-color);
    color: var(--foreground);
    transition: background-color 0.3s ease, transform 0.2s ease;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.manageBtn:hover {
    background-color: var(--background2);
    transform: scale(1.05);
}

.manageBtn:active {
    background-color: #1e7e34;
    transform: scale(1.1);
}