*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --hamburger-margin: 8px;
    --foreground: #EDF2F4;
    --background2: #2B2D42;
    --background: #8D99AE;
    --border-radius: 100px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

html {
    vertical-align: baseline;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: auto;
    background: linear-gradient(315deg, hsla(235, 21%, 21%, 1) 0%, hsla(240, 3%, 71%, 1) 100%);
}

body {
    height: auto;
    margin: 0;
    min-width: 340px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-family: 'Poppins',
        sans-serif;
    color: #EDF2F4;
    overflow-wrap: normal;
}

div {
    height: auto;
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    height: inherit;
}

img {
    border-style: groove;
    border-radius: 20px;
    border-color: #EDF2F4;
}

img:hover {
    transform: scale(1.05);
    /* Легкое увеличение при наведении */
}

a {
    text-decoration: none;
    color: var(--background2);
}

.btn {
    cursor: pointer;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    white-space: nowrap;
    border-style: groove;
    border-radius: 100px;
    padding: 0px 24px;
    background: #8D99AE;
    border-color: #EDF2F4;
    color: #EDF2F4;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #2B2D42;
    transform: scale(1.05);
}

header {
    width: 100%;
    background-color: #2B2D42;
    height: 170px;
    padding: 0 5px;
    border-radius: 20px;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.head {
    display: flex;
    align-items: center;
    height: inherit;
}


.head img {
    width: 140px;
    display: block;
}

.head button {
    height: 30px;
    font-weight: bold;
    font-size: 13px;
    padding: 0px 13px;
}

.navigation {
    height: inherit;
    display: flex;
    align-items: center;
    width: max-content;
}

.navigation ul{
    display: none;
} 

.hamburgerDiv {
    position: relative;
    top: 0;
    right: 0;
    height: inherit;
    width: auto;
}

.hamburgerDiv:has(input:checked){
    position: relative;
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    right: 5px;
    z-index: 2;
    cursor: pointer;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));

}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--background);
    border-radius: var(--border-radius);
    transform-origin: left center;
    transition: all var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu:has(input:checked) {
    --foreground: black;
    --background: var(--foreground);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background2);
    box-shadow: 0 0 0 1px var(--foreground);
}

.sidebar {
    transition: all var(--animation-timing);
    position: absolute;
    right: 0;
    translate: 300%;
    background-color: var(--background);
    color: var(--background);
    max-width: 10rem;
    height: inherit;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));

}

.sidebar a {
    display: flex;
    justify-content: center;
    text-align: center;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));

}

.hamburger-menu:has(input:checked)+.sidebar {
    translate: 0;
    position: relative;
    display: grid;
    justify-items: center;
    height: inherit;
    padding-right: var(--bar-width);
    border-radius: 20px;
}

nav {
    display: grid;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
    align-items: center;
}

.header-buttons {
    display: grid;
    justify-items: center;
    height: inherit;
    align-content: center;
}

.header-buttons button {
    margin: 5px;
}

@media(min-width: 600px) {
    header {
        position: sticky; 
        z-index: 2;
        top: 5px;
        width: 100%;
    }


    .hamburger-menu {
        display: none;
    }

    aside {
        display: none;
    }

    .navigation {
        width: auto;
        display: contents;
    }

    .navigation img {
        width: 160px;
    }

    .navigation ul {
        margin: 0 15px;
        width: min-content;
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }

    .navigation ul li {
        width: 100%;
        text-align: center;
        white-space: nowrap;
    }

    .navigation ul li:hover {
        transform: scale(1.05);
    }

    .navigation ul a {
        width: 87px;
        text-decoration: none;
        color: #EDF2F4;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
    }

    .header-buttons {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .head button {
        height: 30px;
        font-weight: bold;
        font-size: 13px;
        padding: 0px 15px;
    }
}

.profile {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

@media (min-width: 600px) {
    .profile {
        height: inherit;
    }
}

section {
    margin: 5px 0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

.home {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.subhome {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
}

.title {
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: #EDF2F4;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.home img {
    width: 70%;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));
}

p {
    margin: 0;
}

.text {
    margin: 10px 0;
    padding: 15px;
    color: #EDF2F4;
    border-color: #EDF2F4;
}

.description {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
}

.descr {
    text-wrap: pretty;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
}

.description p {
    margin: 0;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.description button {
    margin: 10px 0;
}

p.title {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.example {
    display: inline-grid;
    justify-items: center;
    padding: 15px;
    margin-top: 10px;
    border-radius: 40px;
    border-style: groove;
    border-color: #EDF2F4;
    color: #EDF2F4;
    font-family: 'Roboto', sans-serif;
    filter: drop-shadow(5px 10px 7px rgba(0, 0, 0, 0.5));
}

.example img {
    border-color: #EDF2F4;
    border-radius: 100px;
    width: 90%;
    filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.5));
}

.example button {
    margin: 5px 0;
}

p.name {
    margin: 10px 0;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
}

p.specs {
    width: 50%;
    text-align: center;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}

.images {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    filter: drop-shadow(0 40px 40px rgba(0, 0, 0, 0.25));
}

.images img {
    width: 48%;
}

footer {
    background-color: #2B2D42;
    margin-bottom: 5px;
    border-color: #EDF2F4;
    border-style: groove;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.information {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EDF2F4;
}

.information p {
    margin: 0 5px;
    font-size: 20px;
}

time {
    font-weight: bold;
}

.social_btn {
    margin-left: 10px;
    border-radius: 100px;
    padding: 0px 24px;
    font-size: 18px;
    line-height: 25px;
    background-color: #8D99AE;
    border-color: #EDF2F4;
    white-space: nowrap;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.information button a {
    color: #051923;
    text-decoration: none;
}

.authDiv {
    margin: 20px;
    min-width: 340px;
    display: grid;
    justify-content: space-evenly;
    align-items: end;
    justify-items: center;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0.25));
}

.authDiv img {
    width: 30%;
}

.authForm {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

.authForm img {
    border-color: #EDF2F4;
    border-radius: 100px;
    width: 40%;
    margin: 10px 0;
    filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.5));
}

.authForm input {
    margin: 5px;
    width: 100%;
    padding: 10px;
    border-style: groove;
    border-width: 5px;
    border-color: #EDF2F4;
}

.authForm input:focus-within {
    border-color: #58df78;
}


.login {
    display: grid;
    margin: 10px 0;
    justify-items: center;
}

.link {
    margin: 15px 0;
    text-decoration: none;
    color: #EDF2F4;
}

.link:hover {
    transform: scale(1.05);
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

h1.title {
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #EDF2F4;
}

h2.title {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #EDF2F4;
}

.userInfo {
    margin: 10px 0;
    display: grid;
    height: auto;
    border-radius: 40px;
    border-style: groove;
    border-color: #EDF2F4;
    color: #EDF2F4;
    justify-content: center;
    justify-items: center;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.userInfo p {
    font-size: 35px;
}

.otherInfo {
    margin: 10px 0;
    gap: 10px;
    height: auto;
    padding: 10px;
    display: flex;
    color: #FFFFFF;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.cars {
    display: grid;
    justify-items: center;
    gap: 10px
}

.manage {
    margin: 10px 0;
    height: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.manage button {
    margin: 10px 10px;
}

.manageBtn {
    cursor: pointer;
    height: 50px;
    min-width: 250px;
    width: auto;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    white-space: nowrap;
    border-style: groove;
    border-radius: 100px;
    padding: 0px 24px;
    background: #8D99AE;
    border-color: #EDF2F4;
    color: #EDF2F4;
    transition: background-color 0.3s ease, transform 0.2s ease;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.manageBtn:hover {
    background-color: #2B2D42;
    transform: scale(1.05);
}

.manageBtn:active {
    background-color: #1e7e34;
    transform: scale(1.1);
}