html {
    vertical-align: baseline;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: auto;
    background: linear-gradient(315deg, hsla(235, 21%, 21%, 1) 0%, hsla(240, 3%, 71%, 1) 100%);
}

body {
    height: auto;
    margin: 0 10px;
    min-width: 340px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-family: 'Poppins',
        sans-serif;
    color: #EDF2F4;
    overflow-wrap: normal;
}

div {
    height: auto;
}

img {
    border-style: groove;
    border-color: #EDF2F4;
    border-radius: 50px;
    background-blend-mode: screen;
}

img:hover {
    transform: scale(1.05);
    /* Легкое увеличение при наведении */
}

button:hover {
    transform: scale(1.05);
    /* Легкое увеличение при наведении */
}


header {
    position: sticky;
    z-index: 1;
    top: 10px;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    align-items: center;
    background-color: #8D99AE;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-color: #EDF2F4;
    border-style: groove;
    border-radius: 10px;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

nav img {
    width: 140px;
    margin: 5px;
    border-radius: 15px;
    background-color: #8D99AE;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

nav img:hover {
    transform: scale(1.05);
    /* Легкое увеличение при наведении */
}

nav ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

nav ul li:hover {
    transform: scale(1.05);
    /* Легкое увеличение при наведении */
}

nav ul a {
    width: 87px;
    text-decoration: none;
    color: #EDF2F4;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

nav button {
    margin: 0px 5px;
}

.btn {
    cursor: pointer;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    white-space: nowrap;
    border-style: groove;
    border-radius: 100px;
    padding: 0px 24px;
    background: #8D99AE;
    border-color: #EDF2F4;
    color: #EDF2F4;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #2B2D42;
    transform: scale(1.05);
    /* Легкое увеличение при наведении */
}

.profile {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}

section {
    margin: 5px 0;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

.home {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.subhome {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: center;
}

.title {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    color: #EDF2F4;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));

}

.home img {
    width: 70%;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.5));
}

p {
    margin: 0;
}

.text {
    margin: 10px 0;
    padding: 15px;
    color: #EDF2F4;
    border-color: #EDF2F4;
}

.description {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
}

.descr {
    text-wrap: pretty;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
}

.description p {
    margin: 0;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

p.title {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
}

.example {
    display: inline-grid;
    justify-items: center;
    padding: 15px;
    margin-top: 10px;
    border-radius: 40px;
    border-style: groove;
    border-color: #EDF2F4;
    color: #EDF2F4;
    font-family: 'Roboto', sans-serif;
    filter: drop-shadow(5px 10px 7px rgba(0, 0, 0, 0.5));
}

.example img {
    border-color: #EDF2F4;
    border-radius: 100px;
    width: 90%;
    filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.5));
}

.example button {
    margin: 5px 0;
}

p.name {
    margin: 10px 0;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
}

p.specs {
    width: 50%;
    text-align: center;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}

.images {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
    filter: drop-shadow(0 40px 40px rgba(0, 0, 0, 0.25));
}

.images img {
    width: 48%;
}

footer {
    background-color: #2B2D42;
    margin-bottom: 5px;
    border-color: #EDF2F4;
    border-style: groove;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.information {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EDF2F4;
}

.information p {
    margin: 0 5px;
    font-size: 20px;
}

time {
    font-weight: bold;
}

.social_btn {
    margin-left: 10px;
    border-radius: 100px;
    padding: 0px 24px;
    font-size: 18px;
    line-height: 25px;
    background-color: #8D99AE;
    border-color: #EDF2F4;
    white-space: nowrap;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.information button a {
    color: #051923;
    text-decoration: none;
}

.authDiv {
    margin: 20px;
    min-width: 340px;
    display: grid;
    justify-content: space-evenly;
    align-items: end;
    justify-items: center;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0.25));
}

.authDiv img {
    width: 30%;
}

.authForm {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

.authForm input {
    margin: 5px;
    width: 100%;
    padding: 10px;
    border-style: groove;
    border-width: 5px;
    border-color: #EDF2F4;
}

.authForm input:focus-within {
    border-color: #58df78;
}

.login {
    display: grid;
    margin: 10px 0;
    justify-items: center;
}

.link {
    margin: 10px 0;
    text-decoration: none;
    color: #EDF2F4;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

h1.title {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #EDF2F4;
}

h2.title {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #EDF2F4;
}

.userInfo {
    margin: 10px 0;
    display: grid;
    height: auto;
    border-radius: 40px;
    border-style: groove;
    border-color: #EDF2F4;
    color: #EDF2F4;
    justify-content: center;
    justify-items: center;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.otherInfo {
    margin: 10px 0;
    gap: 10px;
    height: auto;
    padding: 10px;
    display: flex;
    color: #FFFFFF;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.users {
    margin: 10px 0;
    height: auto;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.users button {
    margin: 10px 10px;
}

.userBtn {
    cursor: pointer;
    height: 50px;
    width: 250px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    white-space: nowrap;
    border-style: groove;
    border-radius: 100px;
    padding: 0px 24px;
    background: #8D99AE;
    border-color: #EDF2F4;
    color: #EDF2F4;
    transition: background-color 0.3s ease, transform 0.2s ease;
    filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5));
}

.userBtn:hover {
    background-color: #2B2D42;
    transform: scale(1.05);
}

.userBtn:active {
    background-color: #1e7e34;
    transform: scale(1.1);
}